<div class="card-header">
  <div class="row">
    <div class="col-1">

     <%= link_to @todo_list, class: 'btn btn-dark' do %>
     <i class='fas fa-angle-left'></i>
     <%end%>
    </div>

    <div class="col-11">
      <div class="d-flex justify-content-between">
          <h4 class="m-0 mt-1"> 
            <b> New Todo List  </b> 
          </h4>
      </div>
    </div>
  </div>
</div>


  <div class="card-body">
    <h5 class="card-title">
    <%= render "form", todo_list: @todo_list %>
    </h5>
  </div>
</div>

